
.details{
    opacity: 0.9;
    padding: 20px 20px;
    flex: 1;
    color: white;
    position: relative !important;
}

.details-background{
    background: #252627;
    display: flex;
    justify-content: space-between;
}

.details-name{
    font-size: 65px;
    font-weight: bold;
    position: relative !important;
}

.details-shortdes{
    font-size: 20px;
    position: relative !important;
}

.details-holder-home{
    height: 100vh;
    display: flex;
    align-items: center;
}

.details-tech-stack{
    display: block
}

.ts-icon{
    display: inline;
    height: 100px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .details-holder-home{
        height: 100%;
    }
    .details-background{
        background: #252627;
        display: block;
    }
}