.navbar-parent{
    grid-area: navbar
}
.main{
    grid-area: main
}
.router{
    display: grid;
    grid-template-columns: 4em auto;
    grid-template-rows: 100%;
    grid-template-areas: "navbar main"
}
.details-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #252627
}

.details-holder div, .details-holder canvas{
    position: fixed;
}
@media only screen and (max-width: 600px) {
    .router{
        grid-template-rows: 4em auto;
        grid-template-columns: 100%;
        grid-template-areas: "navbar"
                            "main"
    }
}
@media only screen and (min-width: 2000px) {
    .router{
        font-size: 25px
    }
}
@media only screen and (min-width: 3000px) {
    .router{
        font-size: 35px
    }
}