.navbar {
    background: #181818;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.avatar {
    width: 3.5em;
    padding: 0.3em;
}

.icon {
    color: #4d4d4e;
    padding: 1em;
    font-size: 1.2em;
}

.icon:hover {
    color: #08fdd8
}

.active-icon .icon {
    color: #08fdd8
}

.icon-set a {
    display: block;
    text-align: center;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 4.1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        z-index: 1;
    }
    .icon-set {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .icon-set a {
        display: inline;
        text-align: left;
    }
}